@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is our Film Website Review. Here you can review your favourite films! or the ones you hate the most if feel so inclined. Feel free to see what others users think of any film.</p>
