@{
    ViewBag.Title = "About- Movie Review";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our Webiste provides top of the range movie reivews which allows the anyone to read and judge if the movie is worth it all.</p>
