@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a new service hoping to bring you closer to the films you love. Rate the films however you please and engage in our online discussion boards on the films, actors and directors. Our Website provides high quality reviews on the latest tv shows and movies so you can get a feeling of exactly how a film is being percieved! </p>
