@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our Website provides high quality reviews on the latest tv shows and movies.We have movies from different genres which allows people to have a wider range of choices within the industry for everyone </p>
