@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    De Montfort University<br />
    Gateway House<br />
    LE1 9BH<br />
    <abbr title="Phone">P:</abbr>
    07732 458133
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:P17212092@my365.dmu.ac.uk">P17212092@my365.dmu.ac.uk</a><br />
</address>