@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FilmBase</h1>
    <p class="lead">FilmBase is one of the hotest websites when it comes to movies, reviews and top 10 list in the world</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top 10 Movies </h2>
        <p>
            We provide a list of the best movies the world has to offer. 
            In this list we have movies such as Die Hard which has the critcally aclaimed actor bruce willis
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movie Genres</h2>
        <p>This page would provide all the differnt types of movie genrens which suits people needs and desires!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Top 10 Actors </h2>
        <p>Click here to find out who are the hottest actors on the planet!.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>